[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pytest = "*"
flake8 = "*"
rope = "*"
isort = "*"

[packages]
numpy = "*"
rpyc = "==4.1.2"
numpngw = "*"
aiohttp = "*"
python-socketio = "*"
aiohttp-cors = "*"
aiohttp-devtools = "*"
aioify = "*"
paco = "*"
aio-pubsub = "*"
shortid = "*"
simplejson = "*"
aiofiles = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
ptw = "*"
pytest-watch = "*"
pytest-mock = "*"
asyncmock = "*"
pillow = "*"
tenacity = "*"
json-tricks = "*"
coloredlogs = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
