<p>capturing-dashboard works!</p>

<h1>Parasitometer - Particle Capturing</h1>

<fieldset>
    <legend>Images</legend>
    <div class="images panel">

        <h2>Image Panel</h2>
    </div>
</fieldset>


<fieldset>
    <legend>Status</legend>
    <div class="intensity-diagram panel">

        <h2>Intensity Diagram</h2>
    </div>

    <hr>
    <div class="syringe-status panel">

        <h2>Syringe Pump</h2>
    </div>
    <hr>
    <div class="imaging-status panel">
        <h2>Imaging</h2>
    </div>

    <hr>
    <div class="temperature-status panel">

        <h2>Temperature</h2>
    </div>
</fieldset>

<fieldset>
    <legend>Controls</legend>
    <div class="camera-control panel">
        <h2>Camera</h2>
    </div>
    <hr>
    <div class="intensity-control panel">

        <h2>Intensity Level</h2>
    </div>
    <hr>
    <div class="laser-control panel">


        <h2>Laser</h2>
    </div>

    <hr>
    <div class="PZT-control panel">


        <h2>PZT</h2>
    </div>

    <hr>
    <div class="syringe-control panel">

        <h2>Syringe Pump</h2>
    </div>
</fieldset>